<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filePath" value="C:\data\NotesApp"/>
  </appSettings>
  <connectionStrings>
    <add name="NoteApp" connectionString="Server= DESKTOP-G1TN2QA;Database=NoteApp;Trusted_Connection=True;"/>
  </connectionStrings>
</configuration>